<html>
<head>
    <link rel="stylesheet" , href="style.css">
	<link rel="shortcut icon" type="image/x-icon" href="Play.png" />

    <title>Intro</title>
</head>

<body>
    {{!-- Top Bar --}}
    <div>
        <svg class="bar" , style="left: 0px; width:100%">
            <rect fill="rgba(115,115,115,0.5)"   width="100%" height="70">
                </rect>
        </svg>
        
        <div id="top-text" style="left: 1544px; top: 14px;">
            <a class="text_unselected" style="font-size: 30px;" href = "/about1">ABOUT</a>
        </div>
        
        <div id="top-text" style="left: 1735px; top: 14px;">
            <a class="text_unselected" style="font-size: 30px;" href="/contact1">CONTACT</a>
        </div>

        <div id="top-text" style="left: 50px; top: 14px;">
            <a class="undrln1" style="font-size: 30px;" href="/">Log in</a>
        </div>
    </div>
    <div id="content">
    {{{body}}}
    </div>
</body>
</html>