<html>
<head>
    <title>About</title>
     <style>
    body  {
    background-image: url("pic1.png");
    background-size: cover;
	  background-repeat: no-repeat;
    }
    #about {
		position: absolute;
		left: 750px;
		top: 150px;
		width: 834px;
		height: fit-content;
		text-align: left;
		font-family: Segoe UI;
		font-size: 35px;
		color: rgba(255,255,255,1);
    }
    </style>
</head>

<body onload="navText()">
    
    <div id="about">
		<span>But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself, because it is pleasure, but because those who do not know how to pursue pleasure rationally encounter consequences that are extremely painful. Nor again is there anyone who loves or pursues or desires to obtain pain of itself, because it is pain, but because occasionally</span>
	</div>

 	<script>
    function navText() {
      var check = document.getElementsByClassName("text_selected");
      if(check.length > 0){
      document.getElementsByClassName("text_selected")[0].className="text_unselected";
      }

      document.getElementsByClassName("text_unselected")[0].className="text_selected";
      document.getElementsByClassName("undrln1")[0].className="undrln";
    }
    </script>
</body>

</html>