<html>
    <head>
        <title>Not logged in</title>
        
    <style>
            .center {
        margin:  auto;
        width: fit-content;
        }
    </style>
    </head>

    <body>
        
    <div class="center">    
    <div>    
        <img src="warning.png">
    </div>
    <div>
        <span style="margin: auto;" id="txt">Please <a style="color: rgba(0,255,238,1);" href="/">Log in</a> to view this page</span>
    </div>
    </div>

    </body>
</html>